# Root files
HELP.md
start-all.bat

# Node/Frontend
Frontend/node_modules/
Frontend/.expo/
Frontend/dist/
Frontend/web-build/
Frontend/expo-env.d.ts

# Native/React Native/Android/iOS
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*

# Build output
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
.mvn/wrapper/maven-wrapper.jar

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*

# OS/system files
.DS_Store

# SSL and keys
*.pem

# Environment files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Application config (optional – track only in dev)
src/main/resources/application.properties

# IDEs

## STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

*.CorsConfig.java
